body
{
    background-color: blanchedalmond;
}

.add
{
    font-size: 100px;
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0px auto;
}

.remove
{

}

.toggle
{

}